@using Packt.Shared;
@model IEnumerable<Product>
<h2>@ViewData["Title"]</h2>
<table class="table">
 <thead>
 <tr>
 <th>Company Name</th>
 <th>Contact Name</th>
 <th>Address</th>
 <th>Phone</th>
 </tr>
 </thead>
 <tbody>
         @if (Model is not null)
         {
            @foreach (Product c in Model)
            {
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => c.ProductId)
                    </td>

                    <td>
                            @Html.DisplayFor(modelItem => c.ProductName)
                    </td>

                    <td>
                            @Html.DisplayFor(modelItem => c.Stock)
                            @Html.DisplayFor(modelItem => c.CategoryId)
                            @Html.DisplayFor(modelItem => c.Discontinued)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

